@font-face {
  font-family: Poppins;
  src: url("./fonts/poppins/Poppins-Regular.ttf");
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}

header .header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .menu {
  display: flex;
  align-items: center;
  gap: 27px;
}

header .menu .dropdown {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
}

header .menu a {
  text-decoration: none;
  color: #888e99;
  font-weight: 500;
  padding: 10px 0;
  display: block;
}
header .menu .dropdown-menu {
  position: absolute;
  width: 300px;
  padding: 10px;
  top: 20px;
  display: none;
}
header .dropdown:hover .dropdown-menu {
  display: block;
}
header .dropdown:hover svg {
  transition: 0.5s;
  transform: rotate(180deg);
}

header svg {
  transition: 0.5s;
}

header .header-btns button {
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.shop {
  position: relative;
}

.shop span {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: blue;
  border-radius: 100%;
  font-size: 14px;
  color: #fff;
  top: 0%;
  right: -5px;
  transform: translateY(-50%);
}

#hero {
  background-image: linear-gradient(#383638, #0b0b0b);
  height: 100vh;
  position: relative;
}

header {
  width: 100%;
  position: fixed;
  z-index: 10;
}

#hero .form {
  background-color: #fff;
  padding: 8px 10px;
  border-radius: 12px;
  display: flex;
  align-items: center;
}

.hero-content {
  display: flex;
  align-items: center;
  gap: 184px;
}

.hero-left {
  width: 460px;
  margin-top: 100px;

  padding-right: 80px;
  font-family: poppins;
}

.hero-left input {
  border: none;
  width: 100%;
  padding: 10px 20px;
}

.hero-left input:focus-visible {
  outline: none;
}

.hero-left .search {
  background-color: #3858d6;
}
.hero-left p {
  font-size: 16px;
  font-weight: 500;
  font-family: poppins;
  line-height: 20px;
  color: #8b8e99;
  padding: 20px 0 40px 0;
}

.hero-left h1 {
  letter-spacing: 8px;
  font-size: 55px;
  line-height: 60px;
  font-weight: 700;
  color: #ffff;
}

.hero-right img {
  margin: 110px 0px;
}
/* clocks */

.clocks {
  padding-top: 50px;
  top: 900px;
  display: flex;
  width: 900px;
  gap: 30px;
  margin: 0 auto;
}
.clocks .iphone {
  padding: 30px;
  display: flex;
  border: 1px solid #f6f6f6;
  background-color: #f6f6f6;
  border-radius: 14px;
  align-items: center;
  width: 354px;
}

.apple-right {
  padding-left: 20px;
}
.apple-right h2 {
  font-size: 36px;
  padding-bottom: 10px;
}
.apple-right p {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #8b8e99;
}

/*  */

.watch-boxes {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  margin: 0 auto;
  gap: 30px;
}

.watch-boxes img[src*="watch"] {
  background-color: #f6f6f6;
  width: 280px;
  padding: 30px;
}

.head-last h2 {
  margin-top: 90px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #3858d6;
}
.head-last h3 {
  padding: 10px 10px 60px 10px;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
}

.button button {
  padding: 15px 40px;
  color: white;
  background-color: #3858d6;
  border: 1px solid #3858d6;
  border-radius: 10px;
  display: flex;
  margin-left: 375px;
}
/* 
 */

.about-menu {
  display: flex;
  width: 900px;
  margin: 0 auto;
  gap: 30px;
}
.about-menu .left,
.right {
  margin-top: 50px;
  padding: 20px;
  background-color: #f6f6f6;
  display: flex;
  border-radius: 10px;
}

.hamza {
  padding: 30px 10px 20px 30px;
}

.hamza p {
  padding: 8px 0;
  font-size: 14px;
  font-weight: 500;
  color: #8b8e99;
}
.str h2 {
  margin-top: 110px;
  padding: 20px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #3858d6;
}

.str h3 {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}

.dots {
  display: block;
  text-align: center;
  padding: 30px;
}

.subscribe {
  width: 900px;
  display: flex;
  background-color: #f6f6f6;
  margin: 100px auto;
}
.subscribe .left {
  padding: 100px 50px;
}

.subscribe .left h2 {
  padding: 5px;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}
.subscribe .left p {
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #888e99;
}
.subscribe .left input {
  margin-top: 50px;
  padding: 13px 100px;
  border-radius: 10px;
  border: 1px solid #f6f6f6;
  background-color: white;
}
.subscribe .left button {
  display: flex;
  position: absolute;
  padding: 10px 15px;
  top: 3027px;
  left: 650px;
  border-radius: 10px;
  border: 1px solid #3858d6;
  color: white;
  background-color: #3858d6;
}

.subscribe .right {
  margin-left: 30px;
  padding-bottom: 60px;
}


footer {
    width: 100%;
    background-color: black;
    padding: 20px 0;
    margin-top: 100px;
}

.ftr {
    display: flex;
    color: white;
}
.ftr h2{
    font-size: 16px;
    display: flex;
    margin: 0 auto;
}